.play-in-dlc {
  position: absolute;
  bottom: -20px;
  left: 10px;
  z-index: 1;

  a {
    display: flex;
    // align-items: center;
    flex-direction: column;
    span {
      font-size: 20px;
      padding: 3px 8px;
      position: absolute;
      font-weight: bolder;
      top: 20px;
      left: 20px;
      color: black;
      background: white;
      border: 2px solid;
      border-radius: 25px;
      font-family: cursive;
    }
  
    img {
      height: 170px;
    }
  }
}